<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/admin" class="brand-link">
    <img src="https://static.thenounproject.com/png/995452-200.png" alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Change IT</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="https://uybor.uz/borless/uybor/img/user-images/no-avatar.png" class="img-circle elevation-2"
          alt="User Image">
      </div>
      <div class="info">
        <a type="button" class="d-block">Admin</a>
      </div>
    </div>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-home"></i>
            <p>
              Index page
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-wrench"></i>
                <p>
                  Header
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/admin/index/header-left" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Header left</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/index/header-right" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Header right</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/index/header-right-course" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Header course</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-wrench"></i>
                <p>
                  Section
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/admin/index/section-top" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Section Top</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/index/section-privilege" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Section Privilege</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/index/section-direction" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Section Directions</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/index/section-system" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Section System</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/index/section-certificate" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Section Certificate</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/index/section-slider-img" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Slider img</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/index/section-partners" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Partners</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-address-card"></i>
            <p>
              About Us page
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-wrench"></i>
                <p>
                  Header
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/admin/aboutUs/header-left" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Header Left</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/aboutUs/header-right" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Header Right</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-wrench"></i>
                <p>
                  Section
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/admin/aboutUs/section-thisIs" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>This Is</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/aboutUs/changeIt-numbers" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>ChangeIt Numbers</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/aboutUs/changeIt-gallery" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>ChangeIt Gallery</p>
                  </a>
                </li>
              </ul>
            </li>

          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-rss"></i>
            <p>
              News page
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/works/add" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Create</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/works" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>View</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fas fa-wrench"></i>
                <p>
                  About Us
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/admin/works/add" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Create</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/admin/works" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>View</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>