<div class="container">
    <footer>
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-2 col-md-3 footer-left">
                <a href="/"><img src="/images/footer_logo.png" class="logo" alt=""></a>
            </div>
            <div class="col-lg-2 col-md-3">
                <ul>
                    <li><a href="/aboutUs">Biz haqimizda</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3">
                <ul>
                    <li><a href="/news">Yangiliklar</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3">
                <ul>
                    <li><a href="tel:+998 93 561 33 00">+998 93 561 33 00</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-7 mt-md-3 mt-lg-0">
                <ul class="footer-right">
                    <li><a href="https://t.me/changeitacademy" target="_blank"><i class="fab fa-telegram-plane"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/change_it_academy/" target="_blank"><i
                                class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/changeitACADEMY" target="_blank"><i
                                class="fab fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>