<div class="container pt-5">
    <div class="col-lg-5 m-auto bg-dark p-3">
        <form action="/admin/auth/register" method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control">
            <button class="btn btn-danger mt-3">Submit</button>
        </form>
    </div>
</div>