<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="container">
                <div class="gallery">
                    <a href="/admin/aboutUs/changeIt-gallery/Add" class="btn btn-danger mt-5">Add slider</a>
                    <h2>Bizning galereya</h2>
                    <ul class="main__slider main__slider--countries">
                        {{#each gallery}}
                        <li class="main__item">
                            <div class="main__image" style="background-image:url('/images/{{img}}')">
                                <a href="/admin/aboutUs/changeIt-gallery/delete/{{id}}"
                                    class="btn btn-danger">Delete</a>
                            </div>
                            <h1 class="main__title">{{text}}</h1>
                        </li>
                        {{/each}}
                    </ul>

                    <div class="main__options">
                        <a class="main__option countries" href="#slider">ChangeIt-Academy</a>
                        {{!-- <a class="main__option sports" href="#slider">Sports</a> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
    const countries = document.querySelector(".countries"),
        sports = document.querySelector(".sports"),
        countriesSlider = document.querySelector(".main__slider--countries"),
        sportsSlider = document.querySelector(".main__slider--sports"),
        main = document.querySelector(".main");

    countries.addEventListener("click", function () {
        countriesSlider.style.visibility = "visible";
        sportsSlider.style.visibility = "hidden";
        main.classList.remove("main--sports");
        this.classList.add("active");
        sports.classList.remove("active");
    });

    $(".main__slider").slick({
        centerMode: true,
        infinite: false,
        slidesToShow: 3,
        slidesToScroll: 1,
        arrows: false,
        initialSlide: 2,
        responsive: [
            {
                breakpoint: 1000,
                settings: {
                    slidesToShow: 1,
                    fade: true
                }
            }
        ]
    });

</script>