<div class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="container">
                <div class="col-lg-6 m-auto bg-cyan p-3">
                    <form action="/admin/aboutUs/changeIt-gallery/Add" method="POST" enctype="multipart/form-data">
                        <label for="Image">Image</label>
                        <input type="file" class="form-control" name="img" id="Image" required>
                        <button class="btn btn-danger mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>