<header class="news-header">
    <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 header-left">
            <h1>Root academy
                yangiliklari va
                maqolalari</h1>
        </div>
        <div class="col-lg-5 header-right">
            <img src="/images/news.png" alt="">
        </div>
    </div>
</header>
<section class="news-section">
    <div class="news-section_top">
        <h1>Eng so‘ngi yangiliklar</h1>
        <div class="row">
            <div class="col-lg-8">
                <div class="block">
                    <img src="/images/root.png" alt="" class="active-img">
                    <div class="more">
                        <div class="more_top">
                            <div class="col-lg-4 left">
                                <div class="user-img">
                                    <img src="https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2019/07/Man-Silhouette.jpg"
                                        alt="">
                                </div>
                                <div class="user-name">
                                    <h4>Abdumalikov E</h4>
                                    <h5>Meneger</h5>
                                </div>
                            </div>
                            <div class="col-lg-4 right">
                                <p>24 avgust 2021</p>
                            </div>
                        </div>
                        <div class="more-bottom">
                            <h4>ROOT academy asini mentorlari bilan qisqacha suhbat</h4>
                            <h5>ROOT akademiyasi tomonidan IT sohasi ixlosmandlariga dasturlash sohasi haqida batafsil
                                ma'lumot
                                berish va ularni ushbu sohada o'z faoliyatlarini boshlashlariga ruhlantirish maqsadida
                                turli
                                tadbirlar...</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-right">
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="/images/root.png" alt="">
                        </div>
                        <div class="col-lg-7">
                            <h3>ROOT academy asini tashkil
                                topishi haqida qisqacha...</h3>
                            <h4 class="data">24 avgust 2021</h4>
                        </div>
                    </div>
                </div>
                <div class="card-right">
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="/images/root.png" alt="">
                        </div>
                        <div class="col-lg-7">
                            <h3>ROOT academy asini tashkil
                                topishi haqida qisqacha...</h3>
                            <h4 class="data">24 avgust 2021</h4>
                        </div>
                    </div>
                </div>
                <div class="card-right">
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="/images/root.png" alt="">
                        </div>
                        <div class="col-lg-7">
                            <h3>ROOT academy asini tashkil
                                topishi haqida qisqacha...</h3>
                            <h4 class="data">24 avgust 2021</h4>
                        </div>
                    </div>
                </div>
                <div class="card-right">
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="/images/root.png" alt="">
                        </div>
                        <div class="col-lg-7">
                            <h3>ROOT academy asini tashkil
                                topishi haqida qisqacha...</h3>
                            <h4 class="data">24 avgust 2021</h4>
                        </div>
                    </div>
                </div>
                <div class="card-right">
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="/images/root.png" alt="">
                        </div>
                        <div class="col-lg-7">
                            <h3>ROOT academy asini tashkil
                                topishi haqida qisqacha...</h3>
                            <h4 class="data">24 avgust 2021</h4>
                        </div>
                    </div>
                </div>
                <div class="card-right">
                    <div class="row">
                        <div class="col-lg-5">
                            <img src="/images/root.png" alt="">
                        </div>
                        <div class="col-lg-7">
                            <h3>ROOT academy asini tashkil
                                topishi haqida qisqacha...</h3>
                            <h4 class="data">24 avgust 2021</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="news-section-center">
        <h1>Yangilik va maqolalar</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 23rem;">
                    <img src="/images/root.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ROOT academy asini tashkil topishi
                            haqida qisqacha ma‘lumot...</h5>
                        <p class="card-text">Tajribali guruh rahbari Xsollaning ishdan
                            bo'shatilishiga asoslangan dasturchi kasbi
                            haqida insho yozdi. Ichkarida: ishlab...</p>
                        <h6>16 mart 2021</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 23rem;">
                    <img src="/images/root.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ROOT academy asini tashkil topishi
                            haqida qisqacha ma‘lumot...</h5>
                        <p class="card-text">Tajribali guruh rahbari Xsollaning ishdan
                            bo'shatilishiga asoslangan dasturchi kasbi
                            haqida insho yozdi. Ichkarida: ishlab...</p>
                        <h6>16 mart 2021</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 23rem;">
                    <img src="/images/root.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ROOT academy asini tashkil topishi
                            haqida qisqacha ma‘lumot...</h5>
                        <p class="card-text">Tajribali guruh rahbari Xsollaning ishdan
                            bo'shatilishiga asoslangan dasturchi kasbi
                            haqida insho yozdi. Ichkarida: ishlab...</p>
                        <h6>16 mart 2021</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 23rem;">
                    <img src="/images/root.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ROOT academy asini tashkil topishi
                            haqida qisqacha ma‘lumot...</h5>
                        <p class="card-text">Tajribali guruh rahbari Xsollaning ishdan
                            bo'shatilishiga asoslangan dasturchi kasbi
                            haqida insho yozdi. Ichkarida: ishlab...</p>
                        <h6>16 mart 2021</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 23rem;">
                    <img src="/images/root.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ROOT academy asini tashkil topishi
                            haqida qisqacha ma‘lumot...</h5>
                        <p class="card-text">Tajribali guruh rahbari Xsollaning ishdan
                            bo'shatilishiga asoslangan dasturchi kasbi
                            haqida insho yozdi. Ichkarida: ishlab...</p>
                        <h6>16 mart 2021</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 23rem;">
                    <img src="/images/root.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">ROOT academy asini tashkil topishi
                            haqida qisqacha ma‘lumot...</h5>
                        <p class="card-text">Tajribali guruh rahbari Xsollaning ishdan
                            bo'shatilishiga asoslangan dasturchi kasbi
                            haqida insho yozdi. Ichkarida: ishlab...</p>
                        <h6>16 mart 2021</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <a href="/" class="again">Yana</a>
        </div>
    </div>
</section>